
  
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
    <!-- Doctor Column -->
    <ng-container matColumnDef="reason">
      <th mat-header-cell *matHeaderCellDef> Razon </th>
      <td mat-cell *matCellDef="let element"> {{element.reason}} </td>
    </ng-container>
  
    <!-- Paciente Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Dia </th>
      <td mat-cell *matCellDef="let element"> {{element.date}} </td>
    </ng-container>
  
    <!-- Razon Column -->
    <ng-container matColumnDef="time">
      <th mat-header-cell *matHeaderCellDef> Hora </th>
      <td mat-cell *matCellDef="let element"> {{element.time}} </td>
    </ng-container>
  
    <!-- Header and Row Definitions -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  